@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Authen_Demo.Models.User>
@{
}
<h2>Welcome @ViewBag.Account!</h2>
<h3>User list</h3>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Account Name</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Account</td>
                <td>@user.Password</td>
                <td>@user.Role.Name</td>
                <td>
                    <a asp-controller="Home" asp-action="SetRole" asp-route-id="@user.UserId">Set role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Logout" asp-controller="Home" method="post">
    <button type="submit">Logout</button>
</form>